 @charset "UTF-8";
 
 body{
            background-color: antiquewhite;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        h1{
            color: darkblue;
            background-color: blueviolet;
        }
        h2{
            color: red;
            background-color: darkolivegreen;
        }
        p{
            text-align: justify;
        }